
<h3 class="login_err_warning">PLEASE ENTER A VALID EMAIL AND PASSWORD</h3>

<h4>this is the error login page</h4>


<form action="/user/logged/in" method="POST">
    <input type="text" name="email" placeholder="your email">
    <input type="text" name="password" placeholder="your password">

    <button type="submit" style="padding:10px; padding-left:20px; padding-right:20px; margin-left:20px; border-radius: 25px; color: #fff; background: red;">login</button>
</form>