body {
    // font-family: 'Lato', 'Arial Narrow', 'Arial', sans-serif;
    font-family: 'Quicksand', 'helvetica', sans-serif;
}

a {
    text-decoration: none;
    color: #444;
}

h1 {
    font-size: 2.5em;
}


h2 {
    font-size: 1.5em;
}