
<div class="logout">
    <form action="/user/logged/out" method="POST">
        <button class="logout_button" type="submit">logout</button>
    </form>
</div>

<div class="user_info">
</div>

 <header>
    <h1>vv</h1>
    <nav>
        <ul class="nav_links">
            <li><a href="/home">home</a></li>
            <li><a href="/profile">profile</a></li>
            <li><a href="/your_wavve">your wavve</a></li>
            <li><a href="/design">design</a></li>
            <li><a href="/tech">tech</a></li>
            <li><a href="/advertising">advertising</a></li>
        </ul>
    </nav>
</header>

<aside class="users">
    <ul id="users_list">
        <% @users.each do |user| %>
            <li>
                <a href="/the_wavve/<%= user.id %>"><h5> <%= user.first_name + " " + user.last_name %> </h5></a>
                <span> <%= user.industry %>  </span>
                </br>
                <hr>
            </li>
        <% end %>
    </ul>
</aside>

<section class="articles">
    <%=  yield  %>
</section>


<section class="create_post">
    <div class="new_post">write an article (scroll down)</div>
    <div class="search_articles">search articles</div>

    <form id="new_post_form" action="/post/new" method="POST">
        <div class="label">img_url:</div> 
        </br>
        <input class="post_input" type="text" name="img_url" placeholder="path to your article's image">
        </br>
        <div class="label">title:</div> 
        </br>
        <input class="post_input" type="text" name="title" placeholder="">
        </br>
        <div class="label">subtitle:</div> 
        </br>
        <input class="post_input" type="text" name="subtitle" placeholder="">
        </br>
        </br>
        <div class="label">your article:</div class="label">
        </br>
        <textarea name="text_content" id="post_form_text_area"></textarea>
        <button class="create_post_button" type="submit">publish article</button>
    </form>

</section>

