
.create_post {
    width: 100vw;
    height: 110vh;
    position: absolute;
    top: 90vh;
    background: rgba(34, 34, 34, 1);
    z-index: 100;
}

.new_post {
    display: inline-block;
    width: 49%;
    height: 10vh;
    text-align: center;
    padding: 3vh;
    color: #fff;
}

.search_articles {
    display: inline-block;
    width: 50%;
    height: 10vh;
    text-align: center;
    padding: 3vh;
    background: #fff;
    border: 1px solid #000;
    margin-top: 1px;
}

#new_post_form {
    margin-top: 35px;
}

.post_input {
    width: 44%;
    padding: 10px;
    margin-left: 5%;
    margin-top: 5px;
}

#post_form_text_area {
    width: 44%;
    height: 40vh;
    margin: 0 auto;
    margin-left: 5%;
    margin-top: 25px;
    .label {
        margin-left: 5%;
        margin-left: 25px;
    }
}