
header * {
    display: inline;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background: rgb(209, 208, 208);
    color: #fff;
    padding: 10px;
    padding-bottom: 0;
    text-align: center;
    h1 {
        margin: 10px;
        margin-bottom: 2px;
        float: right;
        transform: translateY(-12px);
    }
    nav {
        padding: 5px;
        ul {
            list-style: none;
            float: right;
            margin-top: 10px;
            margin-right: 15px;
            li {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}