
.post_title {
    text-align: center;
}

.post_subtitle {
    text-align: center;
}

.post_img {
    width: 90%;
    margin-left: 5%;
    margin-top: 25px;
}

.post_text_content {
    padding: 25px;
}
