
<h4>this is a user's home page -- user profile link / connections suggestions (other users list) / all post feed & links for filtering</h4>

<h1>Hey there!</h1>

</br>
</br>

<h1>Welcome, <%=  @current_user.first_name  %> </h1>




