
<h1>WELCOME TO THE WAVVE</h1>

<a href="/sessions/login"><button class="login">login</button></a>
<a href="/registration/signup"><button class="signup">create account</button></a>

</br>
</br>
</br>
</br>

<% @users.each do |user| %>
<h2><%=  user.first_name  %></h2>
<h2><%=  user.last_name  %></h2>
<h2><%=  user.email  %></h2>
</br>
</br>
<% end %>