
<h3>this is the login page</h3>

<form action="/user/logged/in" method="POST">
    <input type="text" name="email" placeholder="your email">
    <input type="text" name="password" placeholder="your password">

    <button type="submit" style="padding:10px; padding-left:20px; padding-right:20px; margin-left:20px; border-radius: 25px; color: #fff; background: red;">login</button>
</form>