
<h1> <%= @other_user.first_name + " " + @other_user.last_name %>'s Wavve</h1>

</br>

<ul>
    <% @other_user_posts.each do |post| %>
        <li> <a href="/posts/<%= post.id %>"> <%= post.title %> </a></li>
    <% end %>
</ul>