
<h1 class="post_title"> <%=  @post.title  %> </h1>
<h2 class="post_subtitle"> <%=  @post.subtitle  %> </h2>
<div class="post_img">
    <img src=" <%=  @post.img_url  %> " alt="" width="100%"> 
</div>
<p class="post_text_content"> <%=  @post.text_content  %> </p>