
<h3>This is the user signup/registration page</h3>
<h4>we will create a new user based on the info passed in the form, and redirect to the new user's home page, welcoming them</h4>


<form action="/registration/new" method="POST">
    first name: <input type="text" name="first_name" placeholder="your first name"></br></br>
    last name: <input type="text" name="last_name" placeholder="your last name"></br></br>
    birthday: <input type="date" name="birthday"></br></br>


    <%# input{:type => "date", :name => "birthday" %>


    industry:   <select name="industry" size="3" multiple>
                    <option value="Design">Design</option>
                    <option value="Tech">Tech</option>
                    <option value="Advertising">Advertising</option>
                </select>
    </br>
    </br>
    title: <input type="text" name="title" placeholder="your work title"></br></br>
    </br>
    </br>
    email: <input type="text" name="email" placeholder="your email"></br></br>
    password: <input type="text" name="password" placeholder="your password"></br></br>
    confirm password: <input type="text" name="comfirm_password" placeholder="re-enter your password"></br></br>
    </br>
    </br>
    <button type="submit" style="padding:10px; padding-left:20px; padding-right:20px; margin-left:20px; border-radius: 25px; color: #fff; background: green;">create account</button>
</form>